<% if instance.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(instance.errors.count, "error") %> prohibited this <%= instance.class %> from being saved:</h2>
    <ul>
      <% instance.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
